body, html {
  inset-block-start: 0;
  margin: 0;
  padding: 0;
  block-size: 100%;
  overflow: auto;
  background-color: none;
}

.video-container {
  position: fixed; /* Covers the entire viewport */
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1; /* Places it behind other content */
}

.video-container .background-video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover; /* Ensures the video fills the screen */
  filter: blur(10px);
}
